<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Database1" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Алиса\source\repos\Lesson 23.03.24\Lesson 23.03.24\Database1.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>